# Dependencies
node_modules
npm-debug.log

# Next.js build outputs
.next
out

# Environment files (we'll set these in Render)
.env
.env.local
.env.production.local

# Misc
.git
.gitignore
README.md
*.md
.DS_Store
